body {
  background-color: black;
  color: #aaa;
  font-size: 12pt;
  padding: 1em;
}

#unsupported {
  border: 1px solid yellow;
  color: black;
  background-color: #ffffad;
  padding: 2em;
  margin: 1em;
  display: inline-block;
}

#sidebar {
  width: 18em;
  height: 40em;
  float: left;
  font-size: 0.825em;
  background-color: #333;
  border: 1px solid white;
  padding: 1em;
}
#sidebar h2 {
  color: white;
  text-align: center;
  margin: 0;
}
#sidebar .parts {
  padding-left: 1em;
  list-style-type: none;
  margin-bottom: 2em;
  text-align: right;
}
#sidebar .parts li a {
  color: white;
  text-decoration: none;
}
#sidebar .parts li a:visited {
  color: white;
}
#sidebar .parts li a:hover {
  color: white;
  text-decoration: underline;
}
#sidebar .parts li a.selected {
  color: #f08010;
}
#sidebar .parts li a i {
  color: #aaa;
}
#sidebar .parts li a.selected i {
  color: #f08010;
}
#sidebar .settings {
  line-height: 1.2em;
  height: 1.2em;
  text-align: right;
}
#sidebar .settings.size {
}
#sidebar .settings.speed {
  margin-bottom: 1em;
}
#sidebar .settings label {
  vertical-align: middle;
}
#sidebar .settings input {
  vertical-align: middle;
}
#sidebar .settings select {
  vertical-align: middle;
}
#sidebar .description {
  margin-bottom: 2em;
}
#sidebar .description b {
  font-weight: normal;
  color: #fff;
}

#containerButton {
  display: flex;
  background-color: #000;
  flex-direction: column;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 0px) {
  #sidebar {
    display: none;
  }
  #game {
    display: none;
    width: 480px;
    height: 360px;
    margin: 0 auto;
  }
  #containerButton {
    display: flex;
    background-color: #000;
    flex-direction: column;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  #game {
    width: 640px;
    height: 480px;
  }
}

@media screen and (min-width: 1000px) {
  #sidebar {
    display: block;
  }
  #game {
    display: block;
    width: 640px;
    height: 480px;
    margin-left: 18em;
  }
  #containerButton {
    display: none;
    background-color: #000;
    flex-direction: column;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  #game {
    width: 800px;
    height: 600px;
  }
}

@media screen and (min-width: 1600px) {
  #game {
    width: 1024px;
    height: 768px;
  }
}

#controlUp {
  height: 200px;
  width: 200px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#controlDown {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 50%;
}

#arrow {
  height: 100px;
  width: 100px;
}

#arrowDown {
  height: 100px;
  width: 100px;
  transform: rotate(180deg);
}

/* @media screen and (max-width: 800px) {
  .containerButton {
    display: flex;
  }
} */
